## by SH
!/Saved/
/Saved/*
!/Saved/Config/
/Saved/Config/*
!/Saved/Config/Windows/
/Saved/Config/Windows/*
!/Saved/Config/Windows/EditorPerProjectUserSettings.ini

## by JG
/Intermediate
/.vs
/Binaries
/DerivedDataCache
/Build
/Plugins
*.sln
*_BuiltData.uasset

